<div>
    
<h2>Signup</h2>
    <form id="signup-form" method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="<%= typeof(username)!== 'undefined' ?  username : '' %>">
          </td>
          <td class="error">
            <%= typeof(error_username)!== 'undefined' ?  error_username : '' %>
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
          <td class="error">
            <%= typeof(error_password)!== 'undefined' ?  error_password : '' %>
          </td>
        </tr>

        <tr>
          <td class="label">
            Verify Password
          </td>
          <td>
            <input type="password" name="verify" value="">
          </td>
          <td class="error">
            <%= typeof(error_verify)!== 'undefined' ?  error_verify : '' %>
          </td>
        </tr>

        <tr>
          <td class="label">
            Email (optional)
          </td>
          <td>
            <input type="text" name="email" value="">
          </td>
          <td class="error">
            <%= typeof(error_email)!== 'undefined' ?  error_email : '' %>
          </td>
        </tr>
      </table>

      <input type="submit">
    </form>    

</div>
